<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
    <h1>Add Product</h1>
    <form th:action="@{addSuccess}" method="post" th:object="${productForm}">
        <div>
            <label>Enter Product Name: </label>
            <input type="text" th:field="*{prodName}" name="prodName">
        </div>
        <div>
            <label>Enter Product Quantity: </label>
            <input type="text" th:field="*{prodQuantity}" name="prodQuantity">
        </div>
        <div>
            <button type="sumit">Submit</button>
        </div>
    </form>

</body>
</html>